{% extends 'base.html' %} 
{% block content %}
<h1>ᯓ⚽︎ldSchool Strike Product⚡︎⋆｡</h1>

<form method="POST">
  {% csrf_token %}
  <table>
    <!-- {{ form.as_table }} -->
    <tr><th>{{ form.name.label_tag }}</th><td>{{ form.name }}</td></tr>
    <tr><th>{{ form.price.label_tag }}</th><td>{{ form.price }}</td></tr> 
    <tr><th>{{ form.description.label_tag }}</th><td>{{ form.description }}</td></tr>
    <tr><th>{{ form.category.label_tag }}</th><td>{{ form.category }}</td></tr>
    <tr><th>{{ form.thumbnail.label_tag }}</th><td>{{ form.thumbnail }}</td></tr>
    <tr><th>{{ form.is_featured.label_tag }}</th><td>{{ form.is_featured }}</td></tr>

    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add PRODUCT⌯⌲" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}